// Quasar Sass Variables
// We map these variables to CorneliusUI's brand colors to maintain design consistency

$primary   : #e26d38
$secondary : #6e6e73
$accent    : #d45924

$dark      : #1d1d1f

$positive  : #34c759
$negative  : #ff3b30
$info      : #007aff
$warning   : #ff9500
