/**
  Portal 客製 css
  @author yfwong
  @date 2023/07/26
 */
.align {}
.csp-btn-spacing {
    margin-right: 10px; /* Adjust this value to set the desired spacing between buttons */
 }
/*繪製 AI 查詢結果的CSS*/
.tableResult {
    font-size: 14px;
    color: yellow;
    margin-top: 8px;
    width: 237px;
}
