<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
        <id>ip-10-204-243-185</id>
        <username>admin</username>
        <password>P@ssw0rd</password>
    </server>
    <server>
        <id>tomcat-testing-server</id>
        <username>admin</username>
        <password>P@ssw0rd</password>
    </server>
    <server>
        <id>central</id>
        <username>admin</username>
        <password>{7Ew+NHEg2tIHMDKcWjt0siVvEEPCXfSDOu+2VQgGNsw=}</password>
    </server>
    <server>
        <id>snapshots</id>
        <username>admin</username>
        <password>{7Ew+NHEg2tIHMDKcWjt0siVvEEPCXfSDOu+2VQgGNsw=}</password>
    </server>
    <server>
		<id>Tomcat6DevServer</id>
		<username>tomcat</username>
		<password>tomcat</password>
	</server>
    <server>
		<id>CSPTomcat6DevServer</id>
		<username>occ</username>
		<password>1qaz@WSX</password>
	</server>
 </servers>
 <localRepository>${user.home}/.m2/repository</localRepository>
 <!-- 
 <profiles>
    <profile>
      <repositories>
        <repository>
          <releases>
          	<enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
          <id>ip-10-204-243-185-release</id>
          <name>libs-release-local</name>
          <url>http://184.73.190.130:8080/artifactory/libs-release-local</url>
        </repository>
        <repository>
          <releases>
          	<enabled>false</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
          <id>ip-10-204-243-185-snapshot</id>
          <name>libs-snapshot-local</name>
          <url>http://184.73.190.130:8080/artifactory/libs-snapshot-local</url>
        </repository>
      </repositories>
      <id>artifactory</id>
    </profile>
  </profiles>  
  <activeProfiles>
    <activeProfile>artifactory</activeProfile>
  </activeProfiles>
   <mirrors>
    <mirror>
      <id>mirror</id>
      <name>mirror</name>
      <url>http://184.73.190.130:8080/artifactory/repo1</url>
      <mirrorOf>central</mirrorOf>
    </mirror>
  </mirrors>-->
</settings>
