<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongfang.csp.system.mapper.SysPermissionMapper">
    <select id="getPermissionCodesByRoleId" resultType="java.lang.String">
        select p.code
        from sys_permission p
        inner join sys_role_permission rp on p.id = rp.permission_id
        where rp.role_id = #{roleId} and p.state = 1
    </select>
</mapper>
