<!--
  History
  --------------------------------------------
  2026/7/14 yfwong inital version.
-->
<!doctype html>
<html lang="zh_TW" xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Demo 部門管理</title>
    <style>
        #loading-indicator {
            display: none;
            padding: 10px;
            text-align: right;
        }

        .search-area {
            padding-bottom: 12px;
            margin-bottom: 24px;
            border-bottom: 1px solid #e0e0e0;
        }
    </style>
    <script>
        $(function () {
            // init
            // 匯出 Excel
            $('#export').on('click', function () {
                doExportToXls();
            });
            let vue = new Vue({
                el: "#container",
                data: {
                    mes: '',
                    list: [],
                    depList: [],
                    selectedId: -1,
                    form: {
                        number: null,
                        name: null,
                        gender: null,
                        age: null,
                        'dep.id': ""
                    },
                    question: {
                        id: 1,
                        text: '我想查詢公司財務部有沒有吳華瑄小姐'
                    },
                    eventSource: null
                },
                created() {
                    this.search();
                    this.getDepList();
                },
                methods: {
                    getDepList: function () {
                        axios.get('getDepList')
                            .then(function (res) {
                                this.depList = res.data;
                            }.bind(this))
                    },
                    search: function () {
                        let queryParams = {};
                        for (let key in this.form) {
                            if (this.form[key] !== null && this.form[key] !== "") {
                                queryParams[key] = this.form[key];
                            }
                        }
                        axios.get('search', { params: queryParams })
                            .then(function (res) {
                                this.list = res.data;
                            }.bind(this))
                    },
                    startSSE() {
                        const source = new EventSource('/api/startSSE');
                        source.onmessage = (event) => {
                            console.log(event.data);
                            console.log(event.data.indexOf("UUID"));
                            if (event.data.indexOf("{") == 0) {
                                let data = JSON.parse(event.data);
                                if (data.content !== '') {
                                    if (data.UUID !== undefined) {
                                        this.doQueryBySQL(data.UUID);
                                    }
                                }
                            }
                            this.scrollToBottom();
                        }
                    },
                    showLoadingIndicator() {
                        $('.msg-body ul').append('<li>\n' +
                            '<div id="loading-indicator">' +
                            '<img src="https://media.tenor.com/NqKNFHSmbssAAAAi/discord-loading-dots-discord-loading.gif" style="width: 40px;" alt="Loading..." />' +
                            '</div>' +
                            '</li>');
                        $(".msg-body ul li #loading-indicator").last().show();
                        this.scrollToBottom();
                    },
                    hideLoadingIndicator() {
                        $("div#loading-indicator").hide();
                    },
                    scrollToBottom() {
                        $('#divChat .modal-body').animate({ scrollTop: $('#divChat .modal-body').prop("scrollHeight") }, 'fast');
                    },
                    send() {
                        this.startSSE();
                        $('.msg-body ul').append('<li class="sender">\n' +
                            '<p> ' + this.question.text + ' </p>\n' +
                            '<span class="time">剛剛</span>\n' +
                            '</li>');
                        let questionData = {
                            id: 4,
                            text: '[question] ' +
                                this.question.text + '[/question]'
                        };
                        this.showLoadingIndicator();
                        let self = this;
                        $.ajax({
                            type: 'post',
                            url: '/api/question',
                            data: JSON.stringify(questionData),
                            contentType: 'application/json;charset=UTF-8',
                            dataType: 'json',
                            success: function (result) {
                                self.question = {
                                    id: -1,
                                    text: ''
                                };
                            },
                            error: function () {
                                console.error('Failed to send question:');
                            }
                        });
                    },
                    doQueryBySQL(uuid) {
                        let actionURI = '/sql/query';
                        let params = '/' + uuid;
                        let self = this;
                        $.ajax({
                            type: 'get',
                            url: actionURI + params,
                            contentType: 'application/json;charset=UTF-8',
                            dataType: 'json',
                            success: function (result) {
                                console.log("JSON:" + result);
                                self.renderQueryResult(result);
                            },
                            error: function () {
                                console.error('Failed to send sql:');
                            }
                        });
                    },
                    renderQueryResult(result) {
                        this.hideLoadingIndicator();
                        $('.msg-body ul').last().append('<li class="reply"><p>');
                        let hint = '';
                        if (result.length > 0) {
                            hint = '好的，以下是我們查詢到關於' + result[0].emp_name + '的資料</br>';
                            let tableResult = '<table class="tableResult"><tr><td>員工編號</td><td>員工姓名</td><td>部門</td></tr>';
                            let emp = '';
                            for (let i = 0; i < result.length; i++) {
                                emp = result[i];
                                tableResult += ('<tr><td>' + emp.number + '</td><td>' +
                                    emp.emp_name + '</td><td>' + emp.dep_name + '</td></tr>');
                            }
                            tableResult += '</table>';
                            $('.msg-body ul li.reply').last().find('p')
                                .append(hint)
                                .append(tableResult);
                        } else {
                            hint = '很抱歉耶～我們查不到資料@@';
                            $('.msg-body ul li.reply').last().find('p')
                                .append(hint)
                        }
                        $('.msg-body ul li.reply').last().append(
                            '<span class="time">剛剛</span>' +
                            '</li>'
                        );
                    },
                    closeConnection() {
                        // Close the SSE connection
                        if (this.eventSource) {
                            this.eventSource.close();
                            this.eventSource = null;
                        }
                    },
                    showAdd: function() {
                        location.href = "showAdd";
                    },
                    showUpdate: function() {
                        if (this.selectedId > -1) {
                            location.href = "showUpdate?id=" + this.selectedId;
                        } else {
                            alert('請選中數據');
                        }
                    },
                    deleteData: function() {
                        if (this.selectedId > -1) {
                            axios.get('delete', {params: {id: this.selectedId}})
                                .then(function (res) {
                                    this.search();
                                }.bind(this))
                        } else {
                            alert('請選中數據');
                        }
                    },
                    selectTr: function (id) {
                        this.selectedId = id;
                    }
                },
                beforeDestroy() {
                    this.closeConnection();
                }
            })
        });
        // 匯出 Excel
        function doExportToXls() {
            let actionURI = '/emp/export';
            let params = '&a=1';
            csp.toPostSubmit(actionURI + params);
        }
    </script>
</head>

<body>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">部門管理</h1>
</div>
<div id="container">
    <!-- Modal -->
    <div class="search-area">
        <form id="search" action="search" method="post" @submit.prevent="search()">
            <div class="row">
                <div class="col-md-2 pb-3 align">
                    <input type="text" class="form-control" name="number" placeholder="編號" v-model="form.number" />
                </div>
                <div class="col-md-2 align">
                    <input type="text" class="form-control" name="name" placeholder="姓名" v-model="form.name" />
                </div>
                <div class="col-md-1 align">
                    <select class="form-control" name="gender" id="" v-model="form.gender">
                        <option value="">性別</option>
                        <option value="男">男</option>
                        <option value="女">女</option>
                    </select>
                </div>
                <div class="col-md-1 align">
                    <input type="text" class="form-control" name="age" placeholder="年齡" v-model="form.age">
                </div>
                <div class="col-md-2 align">
                    <select class="form-control" v-model="form['dep.id']">
                        <option value="">部門</option>
                        <option v-for="dep in depList" v-text="dep.name" v-bind:value="dep.id"></option>
                    </select>
                </div>
                <div class="col-md-4 align">
                    <div class="d-grid gap-2 d-md-block" role="toolbar">
                        <button type="submit" class="btn btn-primary csp-btn-spacing">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-search" viewBox="0 0 16 16">
                                <path
                                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                            </svg>
                            搜尋
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="table-area">
        <table id="data" class="table table-bordered" border="1" role="presentation">
            <tr>
                <td>編號</td>
                <td>姓名</td>
                <td>姓別</td>
                <td>年齡</td>
                <td>部門</td>
            </tr>
            <tr class="data" v-for="emp in list" v-bind:class="{selected:emp.id==selectedId}"
                @click="selectTr(emp.id)">
                <td v-text="emp.number"></td>
                <td v-text="emp.name"></td>
                <td v-text="emp.gender"></td>
                <td v-text="emp.age"></td>
                <td v-text="emp.dep!=null?emp.dep.name:''"></td>
            </tr>
        </table>
    </div>
    <div class="d-grid gap-2 d-md-block" role="toolbar">
        <button type="button" id="add" class="btn btn-primary csp-btn-spacing" @click="showAdd">新增</button>
        <button type="button" id="update" class="btn btn-primary csp-btn-spacing" @click="showUpdate">修改</button>
        <button type="button" id="delete" class="btn btn-primary csp-btn-spacing" @click="deleteData">刪除</button>
    </div>
</div>
</body>

</html>